  <h1>Best Books Datails</h1>

  <a href="./../"> Home </a>
  <section>
    <%myBook.forEach(result =>{%>
      <ul>
        <img src="<%= result.image_url %>">
        <li id="title"><%=result.title%> </li>
        <li id="author"><%=result.author%> </li>
        <li id="description"><%=result.description%> </li>
        <li id="ISBN"><%=result.isbn%> </li>
        <li id="bookShelf"><%=result.bookshelf%> </li>
      </ul>
    <%})%>
  </section>
