
  <section>
    <%myBook.forEach(results =>{%>
        <form action="/updateBooks" method="post">
        <ul>
          <img src="<%= results.image_url %>">
          <li id="title"><%=results.title%> </li>
          <li id="author"><%=results.author%> </li>
          <li id="description"><%=results.description%> </li>
          <li id="ISBN"><%=results.isbn%> </li>
          <li id="bookShelf"><%=results.bookshelf%> </li>
        </ul>
        <button type="submit">Update Details</button>

        <input type="hidden" name="id" value="<%= results.id %>"/>
        <input type="hidden" name="title" value="<%= results.title %>"/>
        <input type="hidden" name="image_url" value="<%= results.image_url %>"/>
        <input type="hidden" name="authors" value="<%= results.author %>"/>
        <input type="hidden" name="description" value="<%= results.description %>"/>
        <input type="hidden" name="isbn" value="<%= results.isbn %>"/>
        <input type="hidden" name="bookShelf" value="<%= results.bookshelf %>"/>  
      
      </form>
      <form action="/deleteBooks" method="post">
        <input type="hidden" name="id" value="<%= results.id %>"/>
        <button type="submit">Delete Book</button>
      </form>
      <%})%>

  </section>
