  <section>
    <%myBook.forEach(results =>{%>
        <form action="/updateBooks" method="post">


          <section class="borderBookOneBook"> 
            <section class="sectionBookOneBook">
              <img src="<%= results.image_url %>">
              <label class="lbTitle"><%=results.title%> </label>
              <label class="lbAuthor">By <%=results.author%> </label>
              <br>
              <label class="lbDescription"> <%=results.description%> </label>
              <br>
              <label class="lbDescription">ISBN: <%=results.isbn%> </label>
              <br>
              <label class="lbDescription">Bookshelf: <%=results.bookshelf%> </label>
              <br>
              <button type="submit">Update Details</button>
              </section>
          </section>

        <!-- <button type="submit">Update Details</button> -->

        <input type="hidden" name="id" value="<%= results.id %>"/>
        <input type="hidden" name="title" value="<%= results.title %>"/>
        <input type="hidden" name="image_url" value="<%= results.image_url %>"/>
        <input type="hidden" name="authors" value="<%= results.author %>"/>
        <input type="hidden" name="description" value="<%= results.description %>"/>
        <input type="hidden" name="isbn" value="<%= results.isbn %>"/>
        <input type="hidden" name="bookShelf" value="<%= results.bookshelf %>"/>  
      
      </form>
      <form action="/deleteBooks" method="post">
        <section class="borderBookOneBook"> 
          <section class="sectionBookOneBook">
            <input type="hidden" name="id" value="<%= results.id %>"/>
            
            <button type="submit">Delete Book</button>
          </section>
        </section>
      </form>
      <%})%>

  </section>
