
  <section>
    <%myBook.forEach(results =>{%>
      <ul>
        <img src="<%= results.image_url %>">
        <li id="title"><%=results.title%> </li>
        <li id="author"><%=results.author%> </li>
        <li id="description"><%=results.description%> </li>
        <li id="ISBN"><%=results.isbn%> </li>
        <li id="bookShelf"><%=results.bookshelf%> </li>
      </ul>
    <%})%>
  </section>
