
<%myBook.forEach(result =>{%>

  <form action="<%=`/books/${result.id}?_method=PUT`%>" method="post">
   
    <label>Book Title</label>
    <input type="text" name="title" value="<%= result.title %>"/> 
    <br>
    <label> Image url </label> 
    <input type="text" name="image_url" value="<%= result.image_url %>"/>
    <br>
    <label> Author(s)</label>
    <input type="text" name="authors" value="<%= result.author %>"/>
    <br>
    <label> Description</label>
    <!-- <textarea rows="5" name="description" value="<%= result.description %>"> </textarea> -->
    <input type="text" name="description" value="<%= result.description %>"/>
    <br>
    <label> ISNB</label>
    <input type="text" name="isbn" value="<%= result.isbn %>"/>
    <br>
    <label> BookShelf</label>
    
    <input list="bookshelf" name="bookshelf">

    <!-- TODO SELECT THE USER ORIGINAL OPTION  -->
    <datalist id="bookshelf">
      <% bookShelf.forEach(resultBS => {%>      
        <% if (resultBS.bookshelf === result.bookshelf) { %>
          <option value ="<%=resultBS.bookshelf%>" selected="selected" > <%=resultBS.bookshelf%></option>
        <%}
        else { %>
          <option value ="<%=resultBS.bookshelf%>" > <%=resultBS.bookshelf%></option>
        <%}%>
         <%})%> 
    </datalist>


    <!-- <select>
    <% bookShelf.forEach(resultBS => {%>      
      <option name="bookshelf" value ="<%=resultBS.bookshelf%>" > <%=resultBS.bookshelf%></option>
       <%})%>
    </select> -->



    <br> 
    <button type="submit">Yes, update!</button>

    <input type="hidden" name="id" value="<%= result.id %>"/>
  </form>
<%})%>
