
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../../layout/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="../styles/base.css"/>

</head>
<body>

  <main>
    <h1 class="header" >Best Books!</h1>
    <a href="./../"> Home </a>
    <h4 class="secondHeader">Here are the results of your seach</h4>
  </main>



  <!-- I want to display all of my results from the google Books API here using ejs -->
  <%Book.forEach(result =>{%>

    <form method="POST" action="/books">
      <section class="borderBook"> 
        <section class="sectionBook">
          <img src="<%= result.image_url %>">
          <label class="lbTitle"><%=result.title%> </label>
          <label class="lbAuthor">By <%=result.authors%> </label>
          <label class="lbDescription"><%=result.description%> </label>
          <br>
          <label class="lbDescription">ISBN: <%=result.isbn%> </label>
          <br>
          <button type="submit" class="clsButton">Add to my Books</button>
          </section>
      </section>
      <br>

  

      <input type="hidden" name="title" value="<%= result.title %>"/>
      <input type="hidden" name="image_url" value="<%= result.image_url %>"/>
      <input type="hidden" name="authors" value="<%= result.authors %>"/>
      <input type="hidden" name="description" value="<%= result.description %>"/>
      <input type="hidden" name="isbn" value="<%= result.isbn %>"/>
      <input type="hidden" name="bookShelf" value="<%= result.bookShelf %>"/>
    </form>
  <%})%>




</body>
</html>

