
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../../layout/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="../styles/base.css"/>

</head>
<body>
  <h1>Best Books!</h1>
  <h3>Here are the results of your seach</h3>
  <!-- I want to display all of my results from the google Books API here using ejs -->
  <%Book.forEach(result =>{%>

    <form method="POST" action="/books">
      <ol>
        <img src="<%= result.image_url %>">
        <li id="title"><%=result.title%> </li>
        <li id="author"><%=result.author%> </li>
        <li id="description"><%=result.description%> </li>
        <li id="ISBN"><%=result.isbn%> </li>
        <!-- <li id="bookShelf"><%=result.bookShelf%> </li> -->
      </ol>
      <br> 
      <button type="submit">Add to my Books</button>

      <input type="hidden" name="title" value="<%= result.title %>"/>
      <input type="hidden" name="image_url" value="<%= result.image_url %>"/>
      <input type="hidden" name="authors" value="<%= result.authors %>"/>
      <input type="hidden" name="description" value="<%= result.description %>"/>
      <input type="hidden" name="isbn" value="<%= result.isbn %>"/>
      <input type="hidden" name="bookShelf" value="<%= result.bookShelf %>"/>
    </form>
  <%})%>




</body>
</html>

