<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/base.css"/>
  <title>My Favorite Books</title>
</head>
<body>
  <h1>My Favorite Books</h1>
  <a href="searches/new">Search Here!</a>

  <ul>
 <% myBooks.forEach(book =>{ %>
<section>

    <!-- <img src="<%= book.image_url %>"> -->
    <!-- <li id="id"><%=book.id%> </li> -->
    <li id="title"><%=book.title%> </li>

    <li id="author"><%=book.author%> </li>
    <li id="description"><%=book.description%> </li>
    <li id="isbn"><%=book.isbn%> </li>
    <a href="/books/<%=book.id%>">View details</a>
   
 <% })%>

</section>  
</ul>


</body>
</html>