<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../layout/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="./styles/base.css"/>
  <!-- <link rel="stylesheet" type="text/css" href="./styles/layout.css"/> -->
 </head>
<body>
  <main>
    <h1 class="header">My Books List</h1>
    <a href="searches/new">Search</a>
    <h4 class="secondHeader">Saved Books: <%= myBookCount[0].count %></h4>
  </main>

  <% myBooks.forEach(book =>{ %>
    <form method="get" action="/books/<%=book.id%>">
      <section class="borderBook"> 
        <section class="sectionBook">
          <img src="<%= book.image_url %>">
          <label class="lbTitle"><%=book.title%> </label>
          <label class="lbAuthor">By <%=book.author%> </label>
          <br>
          <!-- <a href="/books/<%=book.id%>">View details</a>   -->

          <button type="submit">View details</button>
          </section>
      </section>
      <br>
      </form>
    <% })%>

<!-- <footer>
        
</footer> -->
</body>
</html>